.ijadi-window {
	background-color: #515151; 
}

.ijadi-wizard {
/*	background-image: url("/home/bijan/Pictures/texture/bg2.png");
    background-repeat: repeat;*/
  background-color: #515151; 
}

.ijadi-label {
	color:#ffffff;
}
